<div class="row">
<div class="col-md-3">
<%= image_tag @restuarant.image_url %>

<div class="star-rating" data-score= <%= @avgreviews %> ></div>
<p><%= @reviews.length %> Reviews </p>
<h2>
  <%= @restuarant.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @restuarant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restuarant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @restuarant.website, @restuarant.website %>
</p>
<%= link_to "Write Review", new_restuarant_review_path(@restuarant), class: "btn btn-primary"%>

</div>
<div class="col-md-9">
	<h2> Reviews </h2>
	
		<% if @reviews.blank? %>
			<h3> No reviews yet. Be the first to write one! </h3>
		<% else %>
		<table class="table">
		<tbody>
			<thead>
				<tr>
					<th class="col-md-3"> </th>
					<th class="col-md-9"> </th>
				</tr>
			</thead>

			<% @reviews.each do |review| %>
			<tr>
		<!--<p> <%= review.rating %> </p>-->
			<td>
				<h4>
					<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
					</h4>
				<p> <%= review.created_at.strftime("%-m/%-d/%y") %></p>
				</td>
			<td>
			<div class="star-rating" data-score= <%= review.rating %>> </div>
			<p> <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %> </p>
			</td>
			</tr>
			<% end %>
		<%end%> 
		</tbody>
	</table>
	
</div>
</div>
<div class="row">
<%= link_to 'Edit', edit_restuarant_path(@restuarant), class: "btn btn-link"  %> |
<%= link_to 'Back', restuarants_path, class: "btn btn-link"  %>
</div>

<script>
$('.star-rating').raty({
	path: 'https://s3-us-west-1.amazonaws.com/yelpdemoa/stars/',
	readOnly: true,
	score: function() {
		return $(this).attr('data-score');
	}
});
</script>