<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_restuarant_review_path(@restuarant, @review) %> |
<%= link_to 'Back', restuarant_path(@restuarant) %>
